---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Hero from '~/components/widgets/Hero.astro';
import { headerData } from '~/data';
const meta = {
  title: "Servicios de Impuestos y Empresariales",
};

---

<Layout {meta}>
  <script>
    document.addEventListener('click', function(event) {
      const clickedElement = event.target;
      
      if (clickedElement.matches('[data-address]')) {
        const address = clickedElement.getAttribute('data-address');
        const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent);
        
        if (isIOS) {
          window.open('https://maps.apple.com/?q=' + encodeURIComponent(address), '_blank');
        } else {
          window.open('https://www.google.com/maps/search/?api=1&query=' + encodeURIComponent(address), '_blank');
        }
      }
    });
    </script>
    
  <Fragment slot="header">
    <Header
      {...headerData}
      showToggleTheme
      position="left"
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->


  <!-- CallToAction Widget *********** -->

  <div class="px-4 py-10 text-center">
    <h2 class="text-3xl leading-9 font-extrabold text-gray-900 dark:text-white sm:text-4xl sm:leading-10">
      ¿Listo para dar el próximo paso hacia el éxito financiero?
    </h2>
    <p class="mt-4 text-lg leading-6 text-gray-500 dark:text-gray-400">
      Nuestros expertos están listos para ayudarte. Programa una consulta gratuita hoy.
    </p>
    <!-- Insert the Calendly iframe -->
    <iframe src="https://calendly.com/contigomaryland/consulta-gratis" width="100%" height="600" frameborder="0"></iframe>
  </div>

  <!-- Steps2 Widget ****************** -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
  title="Siempre estamos listos para atenderte"
  subtitle="Siempre estamos listos para atenderte. Estamos comprometidos a brindarte el mejor servicio y responder a todas tus consultas de impuestos de manera oportuna. ¡Esperamos hablar contigo pronto!"
  
  items={[
    {
      title: 'Dirección de Wheaton',
      description: '<span data-address="11230-B Grandview Ave #2, Wheaton, MD 20902">11230-B Grandview Ave #2, Wheaton, MD 20902 <small style="font-size: 12px;">(Haz clic para abrir en mapas)</small></span>',
    },
    {
      title: 'Dirección Baltimore',
      description: '<span data-address="3825 S Hanover St, Baltimore, Maryland 21225">3825 S Hanover St, Baltimore, Maryland 21225 <small style="font-size: 12px;">(Haz clic para abrir en mapas)</small></span>',
    },
    {
      title: 'Correo Electrónico',
      description: '<a href="mailto:asesoriaamericana1@gmail.com">asesoriaamericana1@gmail.com</a>',
    },
    {
      title: 'Telefono Wheaton',
      description: '<a href="tel:+14432058462">+1 (443) 205-8462</a> - <span style="font-size: 12px;">Haz clic para llamar</span>',
    },
    {
      title: 'Telefono Baltimore',
      description: '<a href="tel:+14432058462">+1 (443) 205-8462</a> - <span style="font-size: 12px;">Haz clic para llamar</span>',
    },
    {
    "title": "Horarios",
    "description": `
      Lunes: 10 AM–4 PM <br />
      Martes: 10 AM–4 PM <br />
      Miércoles: 10 AM–4 PM <br />
      Jueves: 10 AM–4 PM <br />
      Viernes: 10 AM–4 PM <br />
      Sábado: 11 AM–5 PM <br />
      Domingo: Cerrado <br />
    `
  },
  ]}
  />



</Layout>
