---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Hero from '~/components/widgets/Hero.astro';
import { headerData } from '~/data';
const meta = {
  title: "Servicios de Impuestos y Empresariales",
};
---
<Layout {meta}>
  <Fragment slot="header">
    <Header
      {...headerData}
      showToggleTheme
      position="left"
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->


  <!-- CallToAction Widget *********** -->

  <div class="px-4 py-10 text-center">
    <h2 class="text-3xl leading-9 font-extrabold text-gray-900 dark:text-white sm:text-4xl sm:leading-10">
      ¿Listo para dar el próximo paso hacia el éxito financiero?
    </h2>
    <p class="mt-4 text-lg leading-6 text-gray-500 dark:text-gray-400">
      Nuestros expertos están listos para ayudarte. Programa una consulta gratuita hoy.
    </p>
    <!-- Insert the Calendly iframe -->
    <iframe src="https://calendly.com/contigomaryland/consulta-gratis" width="100%" height="600" frameborder="0"></iframe>
  </div>

  <!-- Steps2 Widget ****************** -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
  title="Siempre estamos listos para atenderte"
  subtitle="En temporada alta de impuestos Asesoria Americana y Taxline Services tiene abierta las lineas de teléfono para atenderte desde las 9 de la mañana hasta las 9 de la noche, incluyendo sábados y domingos."
  
  items={[
    {
      title: 'Dirección de Wheaton',
      description: '11230-B Grandview Ave, Suite 2, Silver Spring, MD',
    },
    {
      title: 'Dirección Baltimore',
      description: '3825 S Hanover St, Baltimore, Maryland 21225',
    },
    {
      title: 'E-mail',
      description: 'taxes@asesoriaamericana.com',
    },
    {
      title: 'Telefono Wheaton',
      description: '+1 (301)-946-4440',
    },
    {
      title: 'Telefono Baltimore',
      description: '+1 (443) 205-8462',
    },
    {
    "title": "Horarios",
    "description": `
      Lunes: 9 AM–7 PM <br />
      Martes: 9 AM–7 PM <br />
      Miércoles: 9 AM–7 PM <br />
      Jueves: 9 AM–7 PM <br />
      Viernes: 9 AM–7 PM <br />
      Sábado: 9 AM–4 PM <br />
      Domingo: 10 AM–4 PM <br />
    `
  },
  ]}
  />



</Layout>
