---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink, getBlogPermalink, getAsset } from '~/utils/permalinks.ts';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Instagram from '~/components/widgets/instagram.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Services_new.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Recibe una Consulta Personalizada', href: getPermalink('/landing/startup'), icon: 'tabler:chevron-right' }}
    callToAction2={{ text: 'Más información', href: '#features' }}
    image={{ src: import('~/assets/images/caoshero.jpg'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Obtén una Consulta </span>
      <span class="text-accent dark:text-white highlight">Personalizada</span></Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">Experiencia y Profesionalismo para Resolver tus Impuestos y Negocios. <span class="font-semibold">Tenemos amplio conocimiento</span> en Impuestos y Servicios Empresariales <span class="font-semibold">que te brindan Soluciones Efectivas.</span></span>

      
    </Fragment>

    
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features3
    title="Servicios"
    subtitle="Testimonios sobre los servicios"
    items={[
      {
        "title": 'Taxes Personales y Corporativos',
        "description":
          'Contamos con profesionales capacitados que pueden ayudarte con tus impuestos (taxes) personales y los de tu empresa.',
        "imageUrl": 'http://taxlineandservices.live-website.com/wp-content/uploads/2021/01/2-1024x585.png',
        
      },
      {
        "title": "Contabilidades de Negocios",
        "description": "Nuestro equipo de profesionales puede ayudarte con todos los aspectos contables de tu negocio.",
        "imageUrl": "https://github.com/luisadrianpuga/image_hosting/blob/main/1.png?raw=true"
    },
    {
        "title": "Tramitamos Tu 1099",
        "description": "Brindamos asistencia con la tramitación de tu formulario 1099.",
        "imageUrl": "https://github.com/luisadrianpuga/image_hosting/blob/main/3.png?raw=true"
    },
    {
        "title": "Bodas a Domicilio",
        "description": "Somos oficiantes de bodas autorizados por el Estado de Maryland para celebrar tu boda civil en el lugar de tus decidas, pais, playa, tu hogar, en donde tú decidas, con honorarios justos a tu medida.",
        "imageUrl": "http://taxlineandservices.live-website.com/wp-content/uploads/2021/01/10-1024x585.png"
    },
    {
        "title": "Apertura y Cierre de Negocios",
        "description": "Puedes contar con nosotros para asesorarte en el proceso de apertura y cierre de tu negocio.",
        "imageUrl": "http://taxlineandservices.live-website.com/wp-content/uploads/2021/02/WhatsApp-Image-2021-02-06-at-10.12.31-AM-1-300x200.jpeg"
    },
    {
        "title": "Nomina Payroll",
        "description": "Ofrecemos servicios de nómina para garantizar que tus empleados sean pagados a tiempo y de forma precisa.",
        "imageUrl": "http://taxlineandservices.live-website.com/wp-content/uploads/2021/01/4-1024x585.png"
    },
    {
        "title": "Servicio de Notario Publico",
        "description": "En Asesoria Americana y Taxline Services contamos con el servicio de Notario Público.",
        "imageUrl": "http://taxlineandservices.live-website.com/wp-content/uploads/2021/01/9-1024x585.png"
    },
    {
        "title": "Tramitamos o Renovamos Tu Numero de ITIN",
        "description": "En Asesoria Americana y Taxline Services podemos ayudarte con la solicitud y/o renovación de tu numero de impuestos federales “ITIN”.",
        "imageUrl": "http://taxlineandservices.live-website.com/wp-content/uploads/2021/01/2-1024x585.png"
    },
    {
        "title": "Solicitud y Tramite de Renovación del TPS",
        "description": "Brindamos asesoría para la solicitud y trámite de renovación del Estatus de Protección Temporal (TPS).",
        "imageUrl": "https://github.com/luisadrianpuga/image_hosting/blob/main/2.png?raw=true"
    },
    {
        "title": "Poderes y Autorizaciones para Salida del País de Menores de Edad",
        "description": "Ofrecemos asistencia con los trámites necesarios para la salida del país de menores de edad.",
        "imageUrl": "http://taxlineandservices.live-website.com/wp-content/uploads/2016/02/Asesoria-Web-Post-1024x585.png"
    },
    {
        "title": "Agente Autorizado por el MVA",
        "description": "Somos agente autorizado por el MVA (Motor Vehicle Administration). La licencia de conducir es el documento más importante de identificación dentro de los Estados Unidos y nosotros estamos autorizados para poder ayudarte.",
        "imageUrl": "http://taxlineandservices.live-website.com/wp-content/uploads/2021/01/7-1024x585.png"
    },
    {
        "title": "Creación de Publicidad para Tus Redes Sociales, Logos, Paginas Web, Tarjetas de Presentacion y Mucho Mas",
        "description": "Te ayudamos a crear una imagen fuerte y coherente de tu negocio en línea, a través de publicidad, diseño de logotipos, desarrollo de sitios web y más.",
        "imageUrl": "https://github.com/luisadrianpuga/image_hosting/blob/main/4.png?raw=true"
    }
]}
/>



  <!-- Content Widget **************** -->

  <Content
    highlight="Sobre Nosotros"
    title="Conoce más acerca de Asesoría Americana y Taxline Services ..."
    items={[
      {
        title: 'Nuestra Historia',
        description:
          'Asesoría Americana y Taxline Services nació en el año <b>1997</B>. Desde entonces, nos hemos comprometido a ofrecer los mejores servicios a nuestros clientes, ayudándoles a navegar a través de diversas situaciones y desafíos.',
      },
      {
        title: 'Nuestra Misión',
        description:
          'Nuestra misión es <b>ayudar a resolver con prontitud y eficiencia</b>. Nos esforzamos por brindar el mejor servicio posible, siempre teniendo en cuenta las necesidades individuales de cada cliente.',
      },
      {
        title: 'Reconocimientos',
        description:
          'Hemos tenido el honor de ser reconocidos en la zona de Wheaton, Baltimore y ahora en Gaithersburg, Maryland por <b>nuestra dedicación y compromiso con la excelencia</b> en el servicio.',
      },
    ]}
    image={{
      src: import('~/assets/images/hero.jpg'),
      alt: 'Colorful Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Compromiso con la Calidad</h3>
    En Asesoría Americana y Taxline Services, buscamos superar las expectativas de nuestros clientes en cada oportunidad, trabajando con profesionalismo y un alto sentido de responsabilidad.
  </Fragment>
</Content>

 <!-- Steps Widget ****************** -->

<Steps
title="Requisitos para tu cita en Asesoría Americana y Taxline Services."
items={[
  {
    title: 'Paso 1: <span class="font-medium">Preparación</span>',
    description:
      'Para satisfacer tus necesidades específicas, por favor envía un correo electrónico o llama a la oficina para programar una cita.',
    icon: 'tabler:mask',
  },

  {
    title: 'Paso 2: <span class="font-medium">Documentos</em>',
    description:
      'No olvides traer todos tus documentos: Documento de Identidad (ID), Formulario W2, Formulario 1099, Formulario 1095 (seguro médico), 1099K y una lista de gastos detallada.',
    icon: 'tabler:files',
  },
  {
    title: 'Paso 3: <span class="font-medium">Información Adicional</span>',
    description:
      'Si es necesario, trae un cheque en blanco (para tu número de cuenta bancaria). Si estás casado(a) o tienes hijos, necesitarás la misma información del Paso 2 para ellos.',
    icon: 'tabler:info-circle',
  },
  {
    title: 'Listo!',
    icon: 'tabler:check',
  },
]}
image={{
  src: import('~/assets/images/creativity.jpg'),
  alt: 'Steps image',
}}
/>


  <!-- Testimonials Widget ************** -->

  <Features2
    title="LO QUE DICEN NUESTROS CLIENTES"
    subtitle="Testimonios sobre los servicios"
    items={[
      {
        title: 'Antonio Olvera',
        description:
          'Llevo 12 años haciendo mis impuestos aquí. Son amables y profesionales.',
        icon: 'fluent:person-16-filled',
      },
      {
        title: 'Orxan Abdullah',
        description:
          'Best service in Maryland! You can trust and fix all your problems about tax with Mr. Jose! Thank you sir for your best service!',
        icon: 'fluent:person-16-filled',
      },
      {
        title: 'Leslie Rojas-Bullock',
        description:
          'Amazing service! Been a customer for over 19 years. The professional and friendly staff always ready to assist.',
        icon: 'fluent:person-16-filled',
      },
      {
        title: 'Ashley Cruz',
        description:
          'This is my second year having Stephany do my taxes & I will most definitely be returning. Not only does she make herself available virtually but she communicates everything she’s doing & makes sure you’re getting as much as possible back.',
        icon: 'fluent:person-16-filled',
      },
      {
        title: 'Melanie Villanueva',
        description:
          'I’ve been doing my taxes with Stephany for 3 years now and every year she exceeds my expectations! She gets everything done so quickly and answers every question that I have. I’m so happy to be her client!!!',
        icon: 'fluent:person-16-filled',
      },
      {
        title: 'jamie Fuentes',
        description:
          'This was my first year having Stephanie do my taxes and let me just say, she is not only a good communicator and very responsive, she also takes her time with you and makes sure you get a good value back. She’s very friendly, and helpful! I recommend working with her every year!! Definitely will be returning. Thank you Steph!',
        icon: 'fluent:person-16-filled',
      },
      {
        title: 'Kean Nguyen',
        description:
          'Worked with Stephany, and she was able to help me out with my taxes. Got me a quote very quickly and submitted everything in less than a few hours! Steph was very nice and professional, and she gets the job done! 100% would come back to them in the future.',
        icon: 'fluent:person-16-filled',
      },
      {
        title: 'Martinez Family',
        description:
          'Last year my husband & I filled out taxes here because we were lost, originally we were suppose to go to another woman & when we asked if it was them they just brushed it off & said we can just fill with them.',
        icon: 'fluent:person-16-filled',
      },
      
    ]}
  />

  

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Preguntas más frecuentes sobre nuestros servicios y procesos. Estamos aquí para aclarar cualquier duda que puedas tener."
    highlight="FAQs"
    items={[
      [
        {
          question: '¿Qué necesito para empezar a trabajar con Asesoria Americana?',
          answer:
            'Para empezar a trabajar con nosotros, necesitarás proporcionar información relevante sobre tus ingresos, gastos y otros detalles financieros. Cada caso es único, por lo que es mejor que nos contactes directamente para que podamos ofrecerte una lista detallada de lo que necesitarás.',
        },
        {
          question: '¿Cómo puedo obtener un ITIN?',
          answer:
            "En Asesoria Americana, podemos ayudarte con la solicitud y/o renovación de tu número de impuestos federales, conocido como 'ITIN'. Necesitarás cierta documentación, incluyendo tu identificación y otros documentos. Contáctanos para más detalles.",
        },
        {
          question: '¿Ofrecen servicios de contabilidad para empresas?',
          answer:
            "Sí, contamos con profesionales capacitados que pueden ayudarte a llevar la contabilidad de tu empresa. Ofrecemos una variedad de servicios de contabilidad, desde la preparación de impuestos hasta la gestión del payroll.",
        },
      ],
      [
        {
          question: '¿Qué servicios ofrecen para las bodas a domicilio?',
          answer:
            "Nuestro servicio de bodas a domicilio permite a los prometidos tener un momento único. Puedes elegir el lugar: tu casa, un restaurante, incluso el patio de tu casa. Sólo tienes que elegir el día y la hora, y nosotros visitaremos para oficiar la boda.",
        },
        {
          question: '¿Cómo funciona su servicio de agencia de viajes?',
          answer:
            "En Asesoria Americana, ofrecemos servicios de agencia de viajes. Podemos ayudarte a llegar a cualquier parte del mundo. Compra tu boleto con nosotros y tendrás el mejor respaldo posible en tu próximo viaje, ya sea de placer o de negocios.",
        },
        {
          question: '¿Qué servicios ofrecen como agente autorizado por el MVA?',
          answer:
            "Como agente autorizado por el MVA (Motor Vehicle Administration), podemos ayudarte con varios trámites relacionados con tu vehículo. Por favor, ponte en contacto con nosotros para más detalles sobre estos servicios.",
        },
        {
          question: '¿Ofrecen algún tipo de asesoramiento en impuestos personales y corporativos?',
          answer:
            "Sí, ofrecemos asesoramiento tanto en impuestos personales como corporativos. Nuestros profesionales capacitados están disponibles para ayudarte con tus impuestos, ya sean personales o de empresa.",
        },
      ],
    ]}
  />


    <!-- Stats Widget ****************** -->

    <Stats
    items={[
      { name: 'Años de Excelencia', value: '25+' },
      { name: 'Bodas Oficiadas', value: '1000+' },
      { name: 'Asistencias en Declaraciones de Impuestos', value: '10K+' },
      { name: 'Clientes Satisfechos', value: '20K+' },
    ]}
  />
  

    <CallToAction
    callToAction={{
      text: 'Contáctanos',
      href: getPermalink('/landing/startup'), // Replace this with your actual contact page link
      icon: 'tabler:phone',
    }}
    >
    <Fragment slot="title">
      Asesoría Americana y Taxline Services</span>
    </Fragment>
    <Fragment slot="subtitle">
      Sirviendo por más de 25 años en Wheaton y Baltimore Maryland. <br class="hidden md:inline" />
    </Fragment>
    </CallToAction>
  
</Layout>
