<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="https://lh3.googleusercontent.com/pw/AJFCJaWO0Xm_HYHsSPXaMq0z3owapVoWXSzraLlqenCtNvy02V1JDf35PEbou_YfsMSfTX2qlneiT9gnmjiRFbMpBv6jrx-J8nNWoqHabyCHlDhh9LZ9A8dri8QS6W_ruywiTOKTQqxFzMS64hWnHdDKJFLx=w960-h828-s-no?authuser=0" alt="A Image" class="inline-block align-middle h-34 w-32">
</span>
