<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="src/assets/images/AA_LogoNew.png" alt="Your Image" class="inline-block align-middle h-34 w-32">
</span>
